.eventList{
  .listHeader{
    height: 45px;
    h3{
      font-family:'STKaiti';
      font-size:18px;
      color:#5f5f5f;
      letter-spacing:-0.45px;
      text-align:justify;
      line-height:21px;
      padding-top: 20px;
      padding-left: 10px;
      display: inline-block;
    }
    div{
      display: inline-block;
      height: 40px;
      vertical-align: middle;
      margin-left: 40px;
      div{
        vertical-align: middle;
        margin:0;
        div{
          font-family:'STKaiti';
          padding-left: 3px;
          font-size:10px;
          color:#484848;
          letter-spacing:-0.28px;
          text-align:justify;
          display: inline-block;
          margin:auto 0px;
          padding:9px 2px;
          padding-right: 8px;
          img{
            margin-right: 2px;
          }
        }
      }
    }
  }
  .listTable{
    height: 495px;
    padding:0px 10px;
    padding-right: 20px;
    table{
      height: 490px;
      width: 100%;
      table-layout:fixed;
      border-collapse: collapse;
      thead{
        display: table;
        width: 100%;
        table-layout:fixed;
        tr{
          width: 100%;
          vertical-align: middle;
          th{
            height: 16px;
            padding: 0px 5px;
            text-align: left;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid rgba($color: #ababab, $alpha: 0.7);
            img{
              vertical-align: center;
              height:12px;
              width: 10px;
            }
            img:last-child{
              float: right;
              height: 8px;
              width: 6px;
              margin-top: 6px;
            }
          }
        }
        height: 16px;
      }
      tbody{
        display: block;
        height: 468px;
        width: 100%;
        overflow-y: scroll;
        border-collapse: separate;
        border-spacing: 0.3em;
        .active{
          background-color: #efefef;
        }
        .hoverTr{
          background-color: #f1f1f1;
        }
        tr{
          width: 100%;
          padding-top: 7px;
          height: 15px;
          display: table;table-layout:fixed;
          vertical-align: baseline;
          cursor: pointer;
          td{
            overflow: hidden;
            text-align: center;
            vertical-align: baseline;
            overflow: hidden;/*超出隐藏*/
            font-family:'STKaiti';
            font-size:10px;
            color:#484848;
            letter-spacing:-0.28px;
            height: 15px;
            line-height:15px;
            border-bottom: 1px solid rgba($color: #ababab, $alpha: 0.7);
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* 淡入 - 1秒内从 0% 到 100% 显示: */
    opacity: 0;
    transition: opacity 1s;
  }
}

.tbody::-webkit-scrollbar {
  width: 3px;
  background-color: rgba(200, 200, 200, 0.3);
}

.tbody::-webkit-scrollbar-track {
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 2px;
}

.tbody::-webkit-scrollbar-thumb {
    background: #787878;
    border-radius: 2px;
}