$g_blue: #0F3F53;
$g_blue_opa: rgba(15,63,83,0.7);
$g_green: #1B5D59;
$g_green_opa: rgba(27,93,89,0.7);
$g_yellow: #AB8E52;
$g-yellow_opa: rgba(171,142,82,0.7);
$g_yellowgreen: #92AA84;
$g_yellowgreen_opa: rgba(146,170,132,0.7);
$g_red: #DBB397;
$g_red_opa: rgba(219,179,151,0.7);
$g_cyan: #57A399;
$g_cyan_opa: rgba(87,163,153,0.7);
$g_orange: #DDB56D;
$g_orange_opa: rgba(221,181,109,0.7);