$downHeight: 510px;
$borderWidth: 2px;
body{
  overflow: hidden;
}
@font-face{
  font-family: 'DFPSongW9';
  src : url('./static/DFPSongW9-GB5.ttf');
}
@font-face{
  font-family: 'STKaiti';
  src : url('./static/STKaiti.ttf');
}
@font-face{
  font-family: 'HYSunWanMinCaoShu';
  src : url('./static/HYSunWanMinCaoShuW-2.ttf');
}
/* 设置滚动条的样式 */
body ::-webkit-scrollbar {
  width:6px;
}
/* 滚动槽 */
body ::-webkit-scrollbar-track {
-webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
border-radius:10px;
}
/* 滚动条滑块 */
body ::-webkit-scrollbar-thumb {
border-radius:0px;
width: 3px;
background:rgba(0,0,0,0.1);
-webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
body ::-webkit-scrollbar-thumb:window-inactive {
}
#wrap {
  margin:0px;
  display: grid;
  border: 1px solid #bababa;
  grid-template-rows: 30px 540px 510px;
  button{
    outline: none;
  }
  #mainHeader{
    background-color: rgba($color: #CBCBCB, $alpha: 0.3);
    // border-bottom: 1px solid rgba($color: #CBCBCB, $alpha: 0.4);
    #toggleDyn{
      display: inline-block;
      line-height: 24px;
      width: 62px;
      margin: 3px;
      border-right: 1.5px solid rgba($color: #414141, $alpha: 0.4);
      img{
        height:14px;
        vertical-align: middle;
        margin-left: 20px;
      }
    }
    img{
      margin:5px;
      line-height: 20px;
      vertical-align: middle;
      margin-left: 15px;
    }
    .togglelanguage{
      float: right;
      margin:3px;
      line-height: 24px;
      button{
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        margin: auto;
        display: inline-block;
        background: white;
        width: 70px;
        height: 20px;
        border-radius: 6px;
        font-family:'STKaiti';
        font-size:12px;
        font-weight: 600;
        color:#5f5f5f;
        letter-spacing:2.07px;
        margin-right: 20px;
        border: 1px solid rgba($color: #CBCBCB, $alpha: 0.4);
      }
    }
  }
  .header{
    height:35px;
    padding:5px;
    line-height:25px;
    .headerlogo{
      display: inline;
    }
    .headerText{
      position:absolute;
      height:25px;
      display: inline;
      font-family: 'STKaiti';
      font-size: 10px;
      color:#626262;
      letter-spacing:-0.5px;
      text-align:justify;
      line-height:25px;
      font-weight:600;
      span:first-child{
        font-size:18px;
        padding-left:5px;
        padding-right:3px;
      }
    }
  }
  #selectview {
    top:50;
    left:0;
    display: grid;
    height: 100%;
    grid-template-columns: 220px 1340px 1fr;
    .leftPanel{
      width:220px;
      height: 540px;
      border-right: 2px solid rgba($color: #CBCBCB, $alpha: 0.5);
      .title{
          height: 140px;
          margin: 10px 15px;
          margin-top: 20px;
          padding-bottom:10px;
          border-bottom: 2px solid rgba($color: #CBCBCB, $alpha: 0.8);
      }
      .container>label{
        font-family:'STKaiti';
        font-size:18px;
        font-weight: 600;
        color:#5f5f5f;
        letter-spacing:-0.5px;
        text-align:justify;
        line-height:25px;
      }
      .container{
        padding:20px;
        padding-top: 0px;
        height: 640px;
        .dropdown.selection{
          .text{
            color: #757575;
            font-family:'STKaiti';
            line-height: 25px;
            margin:0;
            padding-left: 10px;
            padding-top: 0px;
            padding-bottom: 0px;
          }
          margin-top:0px;
          margin-bottom: 20px;
          min-height: 20px;
          height: 25px;
          line-height: 25px;
          border-radius: 0;
          border-color: #454545;
          color: #454545;
          i {
            padding: 5px;
            height: 30px;
            line-height: 20px;
            border-color: #454545;
          }
          a{
            height: 26px;
            margin:0px;
            padding: 0px;
            background-color: rgba(0,0,0,0);
            box-shadow: none;
            i{
              margin:0;
              padding:2px;
            }
          }
          .menu>.item{
              padding: 0;
          }
          div{
            border-color: #454545;
            div{
              padding:2px auto;
            }
          }
        }
        .selection_person{
          height: 100px;
        }
        div::selection{
          border-color:#454545;
        }
      }
      .typeFilter{
        .ui.bulleted.list{
          margin-left: 0;
        }
        ul{
          padding-left: 12px;
        }
      }
    }
    .rightPanel{
      height: 540px;
      border-left: 2px solid rgba($color: #CBCBCB, $alpha: 0.5);
    }
  }
  #footer{
    display: grid;
    grid-template-columns: 450px 1000px 1px;
    header{
      width: 100%;
      height: 30px;
      margin-left: 10px;
      margin-top:4px;
      font-family:DFPSongW9;
      font-size:18px;
      color:#626262;
      letter-spacing:-0.5px;
      text-align:justify;
      line-height:25px;
    }
    #mapview{
      height: 510px;
      border-top:$borderWidth solid #d9d9d9;
      border-right:$borderWidth solid #d9d9d9;
    }
    #matrixview{
      height: 510px;
      border-top:$borderWidth solid #d9d9d9;
      border-right:$borderWidth solid #d9d9d9;
    }
    #relationview{
      height: 510px;
      border-top:$borderWidth solid #d9d9d9;
    }
  }
}
