
.triggerName{
  writing-mode: tb;
  font-family:'STKaiti';
  font-size:14.71px;
  cursor: pointer;
}

.personName{
  font-family:'STKaiti';
  font-size:14.71px;
  font-weight: 600;
}

.axis{
  path{
    display: none;
  }
  g{

    line{
      display: none;
    }
    text{
      font-family:'STKaiti';
      font-size:14.71px;
      font-weight: 600;
      color:#000000;
      letter-spacing:-0.41px;
      text-align:justify;
      line-height:22.99px;
      transform: translate(0,-2px)
    }
  }
}

.bdLine{
  line{
    stroke: #454545;
    stroke-width: 2px;
  }
  circle{
    fill: none;
    stroke: #454545;
    stroke-width: 2px;
  }
}

.area{
  .change{
    opacity: 1;
  }
}